@import  '../../core/mixins/breakpoints.scss';

.ngx-content {
    display: flex;
    flex: 1;
    flex-basis: 0.00000001px;
    overflow: auto;
    margin: 0;
    @include custom-resolution(1100px) {
        margin-left: 0 !important;
    }
}