@import  '../../core/styles/mixins/screen-breakpoints.scss';

.ngx-footer {
    position: relative;
    z-index: 999;
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
    @include custom-screen(1100px) {
        margin-left: 0 !important;
    }
}