@import  '../../core/styles/breakpoints.scss';

.ngx-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    overflow: hidden;
    @include custom-resolution(1100px) {
        margin-left: 0 !important;
    }
     @media (orientation:landscape) and (min-device-height:1100px) {
        margin-left: 0 !important;
    }
}