@import  '../../core/styles/mixins/screen-breakpoints.scss';

.ngx-row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0 15px;
  min-height: 1px;

  .ngx-auto {
    flex: 1;
  }

  [class*="ngx-col"] {
    padding: 0 15px 0 15px;
    flex-wrap: wrap;
    display: flex;
  }
  @for $i from 1 through 12 {
    .#{ngx-col}-#{$i} {
      flex-basis: 8.333333% * $i;
    }
  }
  // PHONES
  @include phone {
    [class*="ngx-sd"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{ngx-sd}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
  // TABLETS
  @include tablet {
    [class*="ngx-md"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{ngx-md}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
  // LAPTOPS
  @include laptop {
    [class*="ngx-ld"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{ngx-ld}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
  // MONITORS
  @include monitor {
    [class*="ngx-xd"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{ngx-xd}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
}
.ngx-no-pad {
  padding: 0 !important;
}
