@import  '../../core/styles/breakpoints.scss';

.ngx-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    @include custom-resolution(1020px) {
        margin-left: 0;
    }
    @media (orientation:landscape) and (min-device-height:1020px) {
        margin-left: 0;
    }
}