@import  '../../core/styles/breakpoints.scss';

.ngx-header {
    height: 70px;
    overflow: hidden;
    @include custom-resolution(1020px) {
        margin-left: 0;
    }
    @media (orientation:landscape) and (min-device-height:1020px) {
        margin-left: 0;
    }
}