@import  '../../core/styles/mixins/screen-breakpoints.scss';

.ngx-wrapper {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    .ngx-content {
        position: inherit;
        overflow: hidden;
        word-break: break-all;
        transition: margin-left 0.3s ease-in-out;
        z-index: 1;
        @include custom-screen(1100px) {
            margin-left: 0 !important;
        }
    }
}