@mixin theme-loader($primary, $secondary, $background, $text) {

  body, .ngx-content {
    background-color: $background;
  }

  header, .ngx-header, footer, .ngx-footer {
    background-color: $secondary;
  }
  header > .ngx-row, .ngx-header > .ngx-row, footer > .ngx-row, .ngx-footer > .ngx-row {
    background-color: $secondary;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      color: $text;
    }
  }
  p, label, a, li, ul, button, td, th {
    color: $text;
  }

}
