<div class="main-wrapper dl-row dl-no-pad">
  <!-- <div class="badges dl-col-12 dl-no-pad">  
    <a href="https://badge.fury.io/js/ngx-duality" rel="nofollow" target="_blank">
      <img src="https://camo.githubusercontent.com/b32a0fcb79e6f959b42100a9e8240034ec87e096/68747470733a2f2f62616467652e667572792e696f2f6a732f6e67782d6475616c6974792e737667" alt="npm version" data-canonical-src="https://badge.fury.io/js/ngx-duality.svg" style="max-width:100%;">
    </a>
    <a href="https://www.npmjs.com/package/ngx-duality" rel="nofollow" target="_blank">
      <img src="https://camo.githubusercontent.com/14d98b9dafe0301938484ef002b7cbd4fe5c4844/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f6e67782d6475616c6974792e737667" alt="npm downloads" data-canonical-src="https://img.shields.io/npm/dm/ngx-duality.svg" style="max-width:100%;">
    </a>
    <a href="https://api.travis-ci.org/Danny908/ngx-duality" rel="nofollow" target="_blank">
      <img alt="" src="https://camo.githubusercontent.com/4619eabaeae5ac4c548f793b11a940c30f13716f/68747470733a2f2f6170692e7472617669732d63692e6f72672f44616e6e793930382f6e67782d6475616c6974792e7376673f6272616e63683d6d6173746572" data-canonical-src="https://api.travis-ci.org/Danny908/ngx-duality.svg?branch=master" style="max-width:100%;">
    </a>
  </div>
  <h2 class="tags">Responsive, Faster, Easier...</h2>
  <h4 class="intro">Improve development speed with fully responsive components for Angular 5+</h4>
  <div class="dl-col-12">
  </div> -->
  <!-- <div class="banner-card dl-col-4 dl-l-6 dl-xs-12 dl-m-12 dl-s-12" *ngFor="let bannerCard of bannerCards; let i = index;" [class.dl-l-12]="i === 2">
    <div class="background-wrapper" [style.backgroundImage]="bannerCard.backImage"></div>
    <h1 class="title">{{bannerCard.title}}</h1>
    <p class="desc">{{bannerCard.desc}}</p> -->
  <!-- </div> -->
</div>
