<div class="wrapper">
  <ngx-header style="position: relative;" [height]="70" [fixed]="true" color="#1a8cff">
    <div class="nx-row header">
      <h1 class="title">
        Duality
      </h1>
      <div class="nx-auto">
        <nav>
          <a href="">COMPONENTS</a>
          <a href="">DIRECTIVES</a>
          <a href="">STYLES</a>
        </nav>
      </div>
    </div>
  </ngx-header>
  <div class="content">
    <app-logo></app-logo>
    <div class="nx-row">
      <div class="nx-col-12 main-content">
        <h1>
          D
        </h1>
        <p class="description">
          uality it's a WIP Angular 2 library, created to reduce development time, this library will contain pre-build element 
          most common used on web pages.
          <br><br>
          The library it's divided by three main sections...
        </p>
         <ul>
            <li>
              <b>Components:</b> Pre-build
            </li>
            <li>
              <b>Directives:</b> 
            </li>
            <li>
              <b>Styles:</b> Pre-defined styles files, necessary for most of components ofthis library, also contains the neccessary to 
              start to work with any proyect, like a grid sytem with suport for responsive design based on flexbox, to keep all your stuffs
              in his place ;)
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
