.nx-row {
  .title {
    line-height: 1.8;
    letter-spacing: 3px;
    margin: 0;
    font-size: 60px;
    z-index: 2;
    position: absolute;
    animation: title-pop-up 1s forwards;
    color: transparent;
  }
  .nx-auto {
    nav {
      float: right;
      display: flex;
      height: 100%;
      width: 400px;
      justify-content: space-between;
      a {
        color: whitesmoke;
        margin: auto;
        border: 2px solid #4A4B4D;
        border-radius: 10px;
        padding: 10px;
        background-color: lightblue;
      }
    }
  }
}
@keyframes title-pop-up {
  from {
    left: 55px;
    bottom: -5px;
  }
  to {
    left: 60px;
    bottom: 0px;
    text-shadow: 0px 0px white, -1px 1px #b3b3b3, -2px 2px #a6a6a6, -3px 3px #999999,  -4px 4px #8c8c8c,  -5px 5px #808080, -6px 6px 10px rgba(0, 0, 0, 0.7), -15px 10px 20px rgba(0, 0, 0, 0.6);
  }
}
