<div class="wrapper">
  <ngx-header style="position: relative;" [height]="70" [fixed]="true" color="#1a8cff">
    <div class="nx-row header">
      <h1 class="title">
        Duality
      </h1>
      <div class="nx-auto">
        <nav>
          <a class="divider" href="">GET STARTED</a>
          <a href="">COMPONENTS</a>
          <a href="">DIRECTIVES</a>
          <a href="">STYLES</a>
        </nav>
      </div>
    </div>
  </ngx-header>
  <div class="content">
   <app-main-content></app-main-content>
  </div>
  <ngx-footer [height]="100" color="#474647"></ngx-footer>
</div>
