@import '~ngx-duality/core/styles/mixins/screen-breakpoints.scss';
@import '~assets/palette/palette';

.ngx-header {
  height: 70px;
  z-index: 3;
  .ngx-col-1 {
    display: flex;
  }
  .ngx-auto {
    justify-content: flex-end;
    height: 70px;
  }
}

.sidebar {
  margin-top: 70px;
  background-color:invert($secondary);
  height: 100%;
  overflow-y: auto;
  padding: 0 0 70px 0;
   i.side-handler {
     display: none;
     z-index: 1;
     position: relative;
   }
   .logo {
     z-index: 0;
     position: relative;
     margin-bottom: 25px;
   }
   .sidebar-nav {
     ul {
       li {
         border-bottom: 1px solid  darken(invert($secondary), 40%);
         border-top: 1px solid  darken(invert($secondary), 40%);
         transition: background-color 0.2s ease-out;
         display: block;
         padding: 0;
         .menu {
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          padding-left: 20px;
          min-height: 50px;
          line-height: 3;
          display: inline-block;
          cursor: default;
          transition: text-shadow 0.3s ease-in;
          i {
            padding-right: 10px;
            color: inherit;
            transition: text-shadow 0.1s ease-in;
            &.icon {
              font-size: 23px;
              float: left;
              line-height: 2.3;
              margin-right: 5px;
            }
          }
          &.sub {
            font-weight: 300;
            font-size: 14px;
            padding-left: 0;
            min-height: 25px;
            border-bottom: none;
            i {
              font-size: 10px;
              line-height: 4;
              float: left;
            }
          }
          &.selected {
            border-bottom: none;
            color: lighten($secondary, 70%);
            text-shadow:
              1px 1px 1px darken(invert($secondary), 40%),
              2px 2px 1px darken(invert($secondary), 40%),
              3px 3px 1px darken(invert($secondary), 40%),
              3px 4px 1px darken(invert($secondary), 40%),
              3px 5px 1px darken(invert($secondary), 40%);

            i {
              text-shadow:
              -0.5px 1px 1px darken(invert($secondary), 40%),
              1px 1px 1px darken(invert($secondary), 40%),
              2px 2px 1px darken(invert($secondary), 40%),
              3px 3px 1px darken(invert($secondary), 40%),
              3px 4px 1px darken(invert($secondary), 40%),
              3px 5px 1px darken(invert($secondary), 40%);
            }
            &:hover {
              background-color: transparent;
            }
          }
          &:hover {
            background-color: darken(invert($secondary), 20%);
          }
         }
        .sub-menu {
          overflow: hidden;
          max-height: 0px;
          transition: max-height 0.3s cubic-bezier(.86,0,.07,1);
          li {
            padding: 0 0 0 15px;
            border: none;
            &:hover {
              background-color: transparent;
            }
            a {
              border-radius: 5px;
              padding: 0 0 0 10px;
            }
          }
          &.on-show {
            max-height: 500px;
            transition: max-height 0.3s cubic-bezier(.86,0,.07,1);
          }
        }
        &:first-child {
          border: none;
        }
        &:last-child {
          border: none;
        }
        &.open {
          padding-bottom: 15px;
        }
       }
     }
   }
}
.ngx-content {
  margin: 70px 0 100px 300px;
  overflow: hidden;
  background-color: white;
}
.ngx-footer {
  height: 100px;
  margin-left: 300px;
  .ngx-row {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    .ngx-auto {
      display: flex;
      i {
        margin: auto;
        float: right;
        color: white;
        font-size: 35px;
        &:hover {
          text-shadow: 1px 1px 1px black, 0px 0px 8px white;
        }
      }
    }
    .ngx-col-10 {
      display: flex;
      p {
        color: lightgrey;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 15px;
        margin: auto 0;
        a {
          color: white;
          font-family: 'Roboto';
          font-weight: 200;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
/* * * * * * * * * * * *
*       MOBILE         *
* * * * * * * * * * * */
@include phone {
  .ngx-header {
    z-index: 0;
  }
  .sidebar {
    margin-top: 0;
    i.fa-bars {
      display: block;
      margin: 0;
      margin-left: 25px;
      margin-top: 20px;
      z-index: 1;
    }
    .logo {
      margin-top: -52px;
    }
  }
}

// GLOBAL STYLES
 nav {
  float: right;
  display: flex;
  height: 100%;
  justify-content: space-between;
  a {
    color: rgba(white, 0.6);
    margin: auto;
    padding: 20px;
    transition: all 0.3s ease;
    &.divider {
      border-right: 2px solid rgba(white, 0.5);
    }
    &:hover {
      color: white;
      text-shadow: 1px 2px 1px black, 0px 0px 3px white;
    }
  }
}
 i.fa {
  margin-left: 10px;
  margin: auto 0;
  color: rgba(white, 0.6);
  transition: all 0.3s ease;
}
.fa-bars:hover{
  cursor: pointer;
  color: white;
  text-shadow: 1px 2px 1px black, 0px 0px 3px white;
}
