<div class="content">
  <app-logo></app-logo>
  <div class="nx-row">
    <div class="nx-col-12 main-content">
      <h1>
        D
      </h1>
      <p class="description intro">
        uality it's a WIP Angular 2 library, created to reduce development time, this library will contain pre-build element
        most common used on web pages, with the pourpouse of reduce development time.
        <br><br>
        The library it's divided by three main sections...
      </p>
        <ul class="nx-col-12">
          <li class="nx-col-4">
            <b>Components:</b> Pre-build Logic/UI components
          </li>
          <li class="nx-col-4">
            <b>Directives:</b>
          </li>
          <li class="nx-col-4">
            <b>Styles:</b> Pre-defined styles files, necessary for most of components of this library, also contains the neccessary to
            start to work with any proyect, like a grid sytem with suport for responsive design based on flexbox, to keep all your stuffs
            in his place ;)
          </li>
        </ul>
        <p class="description">
          Please refer to each section for more details
        </p>
    </div>
  </div>
</div>
