$logo-colors: #4d648d, #d0e1f9, #ffffff;

.logo-container {
  width: 100%;
  height: 230px;
  display: flex;
  position: relative;
  padding-top: 20px;
  .logo {
    width: 130px;
    height: 130px;
    margin:  0 auto;
    background-color: #283655;
    border-radius: 50%;
    position: relative;
    animation: logo-init linear infinite 2s;
    [class*="sub-"] {
      width: 70%;
      height: 70%;
      border-radius: 50%;
      margin: auto;
      animation: logo-init linear infinite 2s;
    }
    $num: 0;
   @each $color in $logo-colors {
      $num: $num + 1;
      .sub-#{$num} {
        background-color: $color;
      }
    }
  }
  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 58px;
    bottom: 15px;
    left: 0;
    font-weight: 300;
    color: darken(invert(#283655), 50%);
    text-shadow: 2px 2px 0px invert(#283655);
    p {
      text-shadow: none;
      margin-top: -15px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@keyframes logo-init {
  from{transform: rotate(360deg)}
  to {transform: rotate(0deg)}
}


