@import '~../../../node_modules/ngx-duality/core/mixins.scss';
@import '../../assets/palette/palette.sass';

$logo-colors: #6666ff, #b2b2ff, #ffffff;

.logo-container {
  width: 100%;
  position: relative;
  padding-top: 20px;
  .logo {
    width: 130px;
    height: 130px;
    margin:  0 auto;
    background-color: #0000b2;
    border-radius: 50%;
    position: relative;
    animation: logo-init linear infinite 2s;
    [class*="sub-"] {
      width: 70%;
      height: 70%;
      border-radius: 50%;
      margin: auto;
      animation: logo-init linear infinite 2s;
    }
    $num: 0;
   @each $color in $logo-colors {
      $num: $num + 1;
      .sub-#{$num} {
        background-color: $color;
      }
    }
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    margin-top: 5px;
    color: $primary-text-color;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    a {
      margin-top: 5px;
      margin-left: 50px;
      text-shadow: none;
      display: block;
      font-size: 15px;
      color: $secondary-text-color;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@include custom-resolution(1100px) {
  .logo-container {
    padding-top: 0;
  }
}

@keyframes logo-init {
  from{transform: rotate(360deg)}
  to {transform: rotate(0deg)}
}


