<!-- BACKDROP -->
<div 
  [class.mobile]="screenSize <= 1100" 
  [class.open]="toggle && !defaultProps.animated" 
  [class.close]="!toggle && !defaultProps.animated"
  [class.anim-open]="toggle && defaultProps.animated"
  [class.anim-close]="!toggle && defaultProps.animated" 
  [ngStyle]="setBackDrop()"
  class="ngx-backdrop">
</div>
<!-- SIDEBAR -->
<div 
  [class.mobile]="screenSize <= 1100"
  [ngStyle]="setContent()"
  [ngClass]="handleContentClasses()" 
  class="ngx-sidebar">
  <ng-content></ng-content>
</div>
