<!-- BACKDROP -->
<div
  #backdrop
  class="ngx-backdrop"
  [style.background]="defaultProps.backdrop"
  [class.mobile]="status.isMobile" 
  [class.open]="status.isOpen && !defaultProps.animated" 
  [class.close]="!status.isOpen && !defaultProps.animated"
  [class.anim-open]="status.isOpen && defaultProps.animated"
  [class.anim-close]="!status.isOpen && defaultProps.animated"
  (click)="onSwipe($event)"
  (mousemove)="checkSwipe() ? onSwipe($event): ''"
  (mouseup)="checkSwipe() ? onSwipe($event): ''"
  (touchstart)="checkSwipe() ? onSwipe($event): ''"
  (touchmove)="checkSwipe() ? onSwipe($event): ''"
  (touchend)="checkSwipe() ? onSwipe($event): ''">
</div>
<!-- SIDEBAR -->
<div 
  #sidebar
  class="ngx-sidebar"
  [ngClass]="sidebarAnimatedClasses()"
  [ngStyle]="sidebarStyles()"
  [class.mobile]="status.isMobile"
  (mousemove)="checkSwipe() ? onSwipe($event): ''"
  (mouseup)="checkSwipe() ? onSwipe($event): ''"
  (touchstart)="checkSwipe() ? onSwipe($event): ''"
  (touchmove)="checkSwipe() ? onSwipe($event): ''"
  (touchend)="checkSwipe() ? onSwipe($event): ''">
  <ng-content></ng-content>
</div>