.nx-row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0 15px;
  min-height: 1px;
  box-sizing: border-box;

  [class*="nx-col"] {
    padding: 0 15px 0 15px;
    flex-wrap: wrap;
    display: flex;
  }
  @for $i from 1 through 12 {
    .#{nx-col}-#{$i} {
      flex-basis: 8.333333% * $i;
    }
  }
  // PHONES
  @media screen and(min-width: 0px) and (max-width: 700px) {
    [class*="nx-sd"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{nx-sd}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
  // TABLETS
  @media screen and(min-width: 700px) {
    [class*="nx-md"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{nx-md}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
  // LAPTOPS
  @media screen and(min-width: 1000px) {
    [class*="nx-ld"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{nx-ld}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
  // MONITORS
  @media screen and(min-width: 1400px) {
    [class*="nx-xd"] {
      padding: 0 15px 0 15px;
      flex-wrap: wrap;
      display: flex;
    }
    @for $i from 1 through 12 {
      .#{nx-xd}-#{$i} {
        flex-basis: 8.333333% * $i;
      }
    }
  }
}
.nx-no-pad {
  padding: 0 !important;
}
