/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-duality/core/styles/ngx-duality';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Pacifico';
    font-weight: 500;
    margin: 0;
  }
}
p, ul{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  letter-spacing: .5px;
  li {
    padding: 5px;
    font-size: 15px;
  }
}
 a {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 15px;
  margin: 0;
  text-decoration: none;
 }
